@import 'node_modules/reset-css/_reset';
@import 'fonts';

// Settings
$mobile-only-media-query: "screen and (max-width : 425px)";
$tablet-only-media-query: "screen and (min-width : 426px) and (max-width : 1024px)";

$header-font: 'Amatic SC', cursive;
$body-font: 'Roboto', sans-serif;
$body-font-size: 18px;
$body-font-size-mobile: 14px;

$light-text-color: #ffffff;
$dark-text-color: #333333;
$theme-color: #008f8f;
$section-hello-background: #ffffff;
$section-about-background: #292929;
$section-projects-background: #ffffff;
$section-contact-background: $theme-color;

$global-spacing: 8px;
$global-transition-duration: .4s;

$site-nav-height: 60px;
$site-nav-height-mobile: 40px;


html, body {
    height: 100%;
    width: 100%;
    font-size: $body-font-size;
    font-family: $body-font;
    color: $dark-text-color;
    letter-spacing: 1.5px;
    line-height: 140%;
    transition: $global-transition-duration;

    @media #{$mobile-only-media-query} {
        font-size: $body-font-size-mobile;
    }
}

strong {
    font-weight: bold;
}

.site-title {
    text-align: center;
    padding: $global-spacing;
    margin-bottom: $global-spacing;
    text-transform: uppercase;
    font-size: 145%;
    font-weight: 900;
    letter-spacing: 10px;
}

.site-nav-container {
    height: $site-nav-height;

    @media #{$mobile-only-media-query} {
        height: $site-nav-height-mobile;
    }

    nav.site-nav { 
        font-size: 90%;
        letter-spacing: 2px;
        border-bottom: 1px solid transparent;
        background:#ffffff;        
        transition: $global-transition-duration;

        @media #{$mobile-only-media-query} {
            font-size: 80%;
        }
        
        &.sticky {
            position: fixed;
            background:#ffffff;
            top: 0;
            left: 0;
            right: 0;
            // padding-left: $global-spacing ;
            // padding-right: $global-spacing;
            z-index: 999;
            border-bottom: 1px solid #e2e2e2;
        }

        ul {
            text-align: center;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;

            @media #{$mobile-only-media-query} {
                justify-content: space-around;
                margin: $global-spacing 0;
            }
            
            li {
                text-transform: uppercase;
                list-style: none;
                padding: $global-spacing * 2;
                padding-bottom: $global-spacing;

                @media #{$mobile-only-media-query} {
                    padding: 0;
                    margin: 0;
                    font-size: 88%;
                }

                &.active {
                    a , a:visited {
                        color: $theme-color;
                        font-weight: 900;
                        transition: $global-transition-duration;
                    }
                }

                a, a:visited {
                    text-decoration: none;
                    color: $dark-text-color;
                    display: block;
                    padding: $global-spacing;
                    transition: $global-transition-duration;
                }
            }
        }
    }
}

.section-title {
    text-align: center;
    font-size: 300%;
    font-family: $header-font;
    margin: $global-spacing * 2;
}

section {
    // min-height: calc(100% - #{($global-spacing * 2) + $site-nav-height + $global-spacing * 2});
    margin: 0;
    padding-top: $site-nav-height + $global-spacing * 2;
    padding-bottom: $global-spacing * 2;
    padding-left: $global-spacing * 2;
    padding-right: $global-spacing * 2;
    display: flex;
    flex-direction: column;
    width: calc(100% - #{$global-spacing * 2 * 2});

    @media #{$mobile-only-media-query} {
        padding-top: $site-nav-height-mobile + $global-spacing * 2;
        // min-height: calc(100% - #{($global-spacing * 2) + $site-nav-height-mobile + $global-spacing * 2});        
    }

    .container {
        flex-grow: 1;
        justify-content: center;
        margin-top: $global-spacing * 3;
        margin-bottom: $global-spacing * 3;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        width: 100%;
        max-width: 1440px;

        @media #{$mobile-only-media-query} {
            margin-top: $global-spacing;
            margin-bottom: $global-spacing;
            max-width: 390px;
        }

        @media #{$tablet-only-media-query} {
            max-width: 890px;
        }
    }
}

section#hello {
    min-height: 500px;
    // min-height: calc(100% - #{($global-spacing * 2 * 2)});
    padding-top: $global-spacing * 2;
    background-color: $section-hello-background;
   
    .container {
        @media #{$mobile-only-media-query} {
            flex-direction: column;
        }

        .image-container {
            width: 65%;
            overflow: hidden;
            align-self: center;  

            @media #{$mobile-only-media-query} {
                width: 100%;
            }

            .hello-image {
                width: 100%;
            }
        }

        .text-container {
            width: 30%;
            align-self: center;
            padding-top: $global-spacing * 6;

            @media #{$mobile-only-media-query} {
                width: 100%;
                padding-top: 0;
                display: flex;
                justify-content: center;
            }

            .hello-intro {
                font-family: $header-font;
                font-size: 320%;
                margin-left: -100px;
                line-height: initial;
                
                @media #{$mobile-only-media-query} {
                    font-size: 250%;
                    margin-left: 0;
                    position: absolute;
                }
            }

            .hello-intro-emphasis {
                font-family: $header-font;
                font-size: 550%;
                margin-left: -50px;
                line-height: initial;

                @media #{$mobile-only-media-query} {
                    font-size: 320%;
                    margin-left: 0;
                    position: absolute;
                }
            }
            
            .hello-intro-content {
                text-align: left;
                margin-left: $global-spacing * 2;
                font-size: 90%;
                line-height: 150%;

                 @media #{$mobile-only-media-query} {
                    font-size: 100%;
                    margin: 0;
                }
            }
        }
    }
}

section#about {
    background-color: $section-about-background;
    color: $light-text-color;
    
    .container {
        flex-direction: column;
        text-align: center;
        max-width: 90%;

        p {
            margin: $global-spacing * 2;
        }
    }
}

section#projects {
    background-color: $section-projects-background;

    .container {
        flex-direction: column;
        justify-content: flex-start;

        .projects-content-menu {
            width: 100%;
            overflow-x: auto;
            text-align: center;
            margin: $global-spacing * 2 0;

            input[type="radio"] {
                display: none;
                
                & + label {
                    display: inline-block;
                    padding: $global-spacing $global-spacing * 2;
                    background-color: transparent;
                    border-radius: $global-spacing * 4;

                    @media #{$mobile-only-media-query} {
                        padding: $global-spacing / 2 $global-spacing * 0.75;
                        font-size: 75%;
                        border-radius: $global-spacing * 2;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }

                &:checked + label {
                    background-color: $theme-color;
                    color: #ffffff;
                    transition: $global-transition-duration;
                }

            }
        }

        .projects-content-container-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            // transition: $global-transition-duration;
            min-height: 300px;

            @media #{$mobile-only-media-query} {
                justify-content: center;
            }

            .projects-content-item-container {
                width: 300px;
                height: 300px;
                margin: $global-spacing * 2;
                transition: $global-transition-duration;
                overflow: hidden;

                @media #{$mobile-only-media-query} {
                    margin-top: 0;
                    margin-left: 0;
                    margin-right: 0;
                    width: 300px;
                    text-align: center;
                }
                
                &.hidden {
                    width: 0px;
                    padding-left: 0;
                    padding-right: 0;
                    margin-left: 0;
                    margin-right: 0;
                    opacity: 0;
                    transition: $global-transition-duration; 
                    
                    @media #{$mobile-only-media-query} {
                        height: 0px;
                        width: 300px;
                        margin-bottom: 0;
                    }
                }
                
                .thumbnail {
                    width: 300px;
                    max-width: 100%;
                    height: 300px;
                }
            }
        }
    }
}

section#contact {
    background-color: $section-contact-background;
    color: $light-text-color;
    min-height: calc(100% - #{($global-spacing * 2) + $site-nav-height + $global-spacing * 2});    

    .container {
        text-align: center;
        flex-direction: column;

        .contact-info-item {
            padding: $global-spacing * 2;
            
            .contact-info-label {
                margin-bottom: $global-spacing;

                @media #{$mobile-only-media-query} {
                    font-size: 80%;
                }
            }

            .contact-info-detail {
                font-size: 140%;
                font-weight: 500;
                overflow-wrap: break-word;

                @media #{$mobile-only-media-query} {
                    font-size: 95%;
                }
            }
        }
    }
}







