@import 'node_modules/reset-css/_reset';
@import 'fonts';

// Settings

$header-font: 'Amatic SC', cursive;
$body-font: 'Roboto', sans-serif;
$body-font-size: 18px;

$light-text-color: #e2e2e2;
$dark-text-color: #333333;

$global-spacing: 8px;

$site-nav-height: 60px;

html, body {
    height: 100%;
    width: 100%;
    font-size: $body-font-size;
    font-family: $body-font;
    color: $dark-text-color;
    letter-spacing: 1.5px;
    line-height: 140%;
}

strong {
    font-weight: bold;
}

.site-title {
    text-align: center;
    padding: $global-spacing;
    margin-bottom: $global-spacing;
    margin-top: $global-spacing * 3;
    text-transform: uppercase;
    font-size: 145%;
    font-weight: 900;
    letter-spacing: 10px;
}

.site-nav-container {
    height: $site-nav-height;

    nav.site-nav { 
        font-size: 90%;
        letter-spacing: 2px;
        
        &.sticky {
            position: fixed;
            background:#ffffff;
            top: 0;
            left: 0;
            right: 0;
        }

        ul {
            text-align: center;
            margin: 0;
            padding: 0;
            
            li {
                display: inline-block;
                text-transform: uppercase;
                list-style: none;
                padding: $global-spacing;
                margin: $global-spacing;

                a, a:visited {
                    text-decoration: none;
                    color: $dark-text-color;
                }
            }
        }
    }
}

.section-title {
    text-align: center;
    font-size: 250%;
    font-family: $header-font;
    margin: $global-spacing * 2;
}

section {
    min-height: calc(100% - #{($global-spacing * 2) + $site-nav-height});
    padding: $global-spacing * 2;
    margin: 0;
    padding-top: $site-nav-height;
    display: flex;
    flex-direction: column;

    .container {
        flex-grow: 1;
        justify-content: center;
        margin-top: $global-spacing * 3;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        width: 100%;
    }
}

section#hello {
    min-height: calc(100% - #{($global-spacing * 2 * 2)});
    padding-top: $global-spacing * 2;
    .container {
        .image-container {
            width: 65%;
            overflow: hidden;
            align-self: center;  

            .hello-image {
                width: 100%;
            }
        }

        .text-container {
            width: 30%;
            align-self: center;
            padding-top: $global-spacing * 6;

            .hello-intro {
                font-family: $header-font;
                font-size: 320%;
                margin-left: -100px;
                line-height: initial;
            }

            .hello-intro-emphasis {
                font-family: $header-font;
                font-size: 550%;
                margin-left: -50px;
                line-height: initial;
            }
            
            .hello-intro-content {
                text-align: left;
                margin-top: $global-spacing * 4;
                margin-left: $global-spacing * 2;
                font-size: 90%;
                line-height: 150%;
            }
        }
    }
}

section#about {
    background-color: #292929;
    color: $light-text-color;
    
    .container {
        flex-direction: column;
        text-align: center;
        max-width: 90%;

        p {
            margin: $global-spacing * 2;
        }
    }
}

section#contact{
    background-color: #137573;
    color: $light-text-color;

    .container {
        text-align: center;
        flex-direction: column;

        .contact-info-item {
            padding: $global-spacing * 2;
            
            .contact-info-label {
                margin-bottom: $global-spacing;
            }

            .contact-info-detail {
                font-size: 140%;
                font-weight: 500;
            }
        }
    }
}







